<html>
    <head>
        <meta charset="UTF-8">
        <title>home Electrical</title>
        <link rel="stylesheet" type="text/css" href="../static/css/1.css">
        <script src="../static/js/1.js"></script>
    </head>
    <body onload="">
        <header>
            <h1>Virtual laboratory for direct current</h1>
        </header>
        <nav>

        </nav>
        <article>
          <div id="ingredients_menu1">
            <div><img id="resistor" src="../static/img/Resistor.jpg" draggable="true" ondragstart="drag(event)" width="80" height="90"> </div>
            <div><img id="battery" src="../static/img/battery.jpg" draggable="true" ondragstart="drag(event)" width="90" height="90"></div> 
            <div><img id="capacitor" src="../static/img/capacitor.jpg" draggable="true" ondragstart="drag(event)" width="90" height="90"></div> 
          </div>
          <div class="matrix" id="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          
          <div id="ingredients_menu2">
            
          </div>
        </article>
        <aside>
            
        </aside>
        <footer>

        </footer>
    </body>
</html>