<html>
    <head>
        <meta charset="UTF-8">
        <title>home Electrical</title>
        <link rel="stylesheet" type="text/css" href="../static/css/1.css">
        <script src="../static/js/1.js"></script>
    </head>
    <body onload="">
        <header>
            <h1>Virtual laboratory for direct current</h1>
        </header>
        <nav>

        </nav>
        <article>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
          <div class="matrix" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        </article>
        <aside>
           <div><img id="resistor" src="../static/img/Resistor.jpg" draggable="true" ondragstart="drag(event)" width="78.55" height="78.55"> </div>
           <div><img id="battery" src="../static/img/battery.jpg" draggable="true" ondragstart="drag(event)" width="78.55" height="78.55"></div> 
           <div><img id="capacitor" src="../static/img/capacitor.jpg" draggable="true" ondragstart="drag(event)" width="78.55" height="78.55"></div> 
        </aside>
        <footer>

        </footer>
    </body>
</html>